.ticker {
}

.tick {
    display: flex;
    justify-content:  center;
    align-items: center;
    min-width: 50vw;
    white-space: nowrap;
    min-width: 80vw;
    font-size: 5em;
    line-height: 1.5;
    margin: 0;
    color: white;
}